body {
  background-color: #abcdef
}


h1 {
  font-family: Verdana;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  color: #5500ff;
  font-size: 20px;
}

.class1{
	font-family: verdana;
	font-size: 14px;
	color: #ffffff;
	  position: fixed;
margin: 5%;
padding: 80px; 
	background-color: #ff511a
}




